version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: _docker/app/Dockerfile
    container_name: kafedra_app
    environment:
      - APP_ENV=local
    volumes:
      - ./:/var/www
      - ./.env:/var/www/.env
    depends_on:
      - db
    networks:
      - app-network

  nginx:
    image: nginx:1.27.5
    container_name: kafedra_nginx
    volumes:
      - ./:/var/www/
      - ./_docker/nginx/conf.d/:/etc/nginx/conf.d/
    ports:
      - "8181:80"
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: postgres:17.4-alpine
    container_name: kafedra_db
    restart: always
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "8282:5432"
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
    driver: local